{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "emacVersion": 2018,
    "sourceType": "module"
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    // note you must disable the base rule as it can report incorrect errors
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"]
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
